@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Archivo', sans-serif;
    background-color: #182A4D;
    color: white;
}

.email-button {
    border-radius: 0.625rem;
    background: #BBFF38;
    border: none;
    padding: 16px 24px; /* Balanced padding for a consistent size */
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
    color: #182A4D; /* Text color */
    display: inline-block; /* Ensure proper dimensions */
    text-align: center;
}

.email-button:hover {
    background-color: #99cc33; /* Lighter hover color for better contrast */
    color: white; /* Contrast adjustment for text */
}

.bodytext{
    width: 595px;
    margin-left: auto;
    margin-right: auto;
}

.top{
    margin-left: auto;
    margin-right: auto;
    width: 595px;
    
}